.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      .home-items {
        line-height: 70px;
        margin-right: 40px;
        cursor: pointer;
        text-decoration: none;
        color: #d6111f;
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 2px;
      }

      .items {
        margin-right: 20px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        line-height: 70px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        .setting {
          padding: 10px;
          cursor: pointer;
          text-decoration: none;
          color: white;
        }

        .login {
          padding: 10px;
          cursor: pointer;
          text-decoration: none;
          color: white;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 80px;
          }
        }
      }
    }
  }
}
